@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.fade-in {
  animation: fadeIn 0.8s ease-in;
}

.slide-up {
  animation: slideUp 0.8s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

@keyframes slideUpFade {
  0% {
    opacity: 1;
    transform: translateY(20px) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translateY(1) scale(1);
  }
}

.animate-slideUpFade {
  animation: slideUpFade 2s cubic-bezier(0.22, 1, 0.36, 1);
}
